body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.playerBoard {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border: 1px solid  rgb(62, 62, 62);
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px solid rgb(62, 62, 62);
}

.ship {
  background-color: rgb(19, 19, 19);
}
.ship.sunk {
  background-color: rgb(61, 10, 0);
}

.hitted {
  position: relative;
}
.hitted::after {
  position: absolute;
  content: "X";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: red;
}

.placementButtons {
  display: flex;
  justify-content: space-evenly;
}
.placementButton {
  padding: 0.2rem 0.8rem;
  font-size: 1.4rem;
}